---
export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<div class="container px-4 py-8 mx-auto">
  <header class="mx-auto mb-12 max-w-4xl">
    <h1 class="mb-4 text-3xl font-bold text-gray-900 dark:text-white">
      {title}
    </h1>
    {
      description && (
        <p class="text-lg text-gray-600 dark:text-gray-300">{description}</p>
      )
    }
  </header>

  <div class="mx-auto max-w-4xl">
    <slot />
  </div>
</div>

