---
export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<div class="mx-auto max-w-2xl">
  <header class="mb-12">
    <h1 class="mb-4 text-3xl font-bold text-gray-900 dark:text-white">
      {title}
    </h1>
    {
      description && (
        <p class="text-lg text-gray-600 dark:text-gray-300">{description}</p>
      )
    }
  </header>

  <div class="max-w-none prose prose-lg dark:prose-invert">
    <slot />
  </div>
</div>
