---
import SocialLinks from "../ui/SocialLinks.astro";
import { MENTORCRUISE_URL } from "../../consts";
import { getEntry } from "astro:content";
import Button from "../ui/Button.astro";

// Get sidebar content from separate MDX files
const aboutEntry = await getEntry("pages", "sidebar-about");
const mentorshipEntry = await getEntry("pages", "sidebar-mentorship");

const { Content: AboutContent } = await aboutEntry.render();
const { Content: MentorshipContent } = await mentorshipEntry.render();

const connectHeading = "Connect"; // Hardcode the Connect heading
---

<div class="flex flex-col h-full">
  <div class="mb-8">
    <h3
      class="pb-2 mb-3 text-lg font-semibold text-gray-900 border-b border-gray-200 dark:text-white dark:border-gray-700"
    >
      {aboutEntry.data.title}
    </h3>
    <div
      class="max-w-none text-sm leading-relaxed text-gray-600 dark:text-gray-400 prose prose-sm dark:prose-invert"
    >
      <AboutContent />
    </div>
  </div>

  <div class="mb-8">
    <h3
      class="pb-2 mb-3 text-lg font-semibold text-gray-900 border-b border-gray-200 dark:text-white dark:border-gray-700"
    >
      {mentorshipEntry.data.title}
    </h3>
    <div
      class="mb-3 max-w-none text-sm leading-relaxed text-gray-600 dark:text-gray-400 prose prose-sm dark:prose-invert"
    >
      <MentorshipContent />
    </div>
    <Button href={MENTORCRUISE_URL} target="_blank" rel="noopener noreferrer">
      <svg
        viewBox="0 0 60 60"
        width="20"
        height="20"
        class="mr-2"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M0 30C0 24.0666 1.75945 18.2664 5.0559 13.3329C8.35234 8.39941 13.0377 4.55425 18.5195 2.28362C24.0013 0.0129938 30.0333 -0.5811 35.8527 0.576457C41.6721 1.73401 47.0176 4.59123 51.2132 8.7868C55.4088 12.9824 58.266 18.3279 59.4235 24.1473C60.5811 29.9667 59.987 35.9987 57.7164 41.4805C55.4457 46.9623 51.6006 51.6476 46.6671 54.9441C41.7336 58.2405 35.9334 60 30 60C26.0603 60 22.1592 59.224 18.5195 57.7164C14.8797 56.2088 11.5725 53.999 8.78675 51.2132C6.00099 48.4275 3.79123 45.1203 2.2836 41.4805C0.775959 37.8407 -7.62939e-06 33.9397 0 30ZM23.6848 18.7418L17.3698 29.6797H29.0331V9.4784L23.6848 18.7418ZM30.9668 9.47817V29.6797H42.63L36.315 18.7418L30.9668 9.47817ZM52.1444 31.6134H7.85548L12.0545 38.886H47.9455L52.1444 31.6134ZM46.8291 40.8198H13.1708L17.3698 48.0927H42.63L46.8291 40.8198Z"
          fill="currentColor"></path>
      </svg>
      Book a Session
    </Button>
  </div>

  <div class="mb-8">
    <h3
      class="pb-2 mb-3 text-lg font-semibold text-gray-900 border-b border-gray-200 dark:text-white dark:border-gray-700"
    >
      {connectHeading}
    </h3>
    <SocialLinks variant="text" />
  </div>
</div>
