---
import Layout from "../layouts/Layout.astro";
import PageLayout from "../components/layout/PageLayout.astro";
import { getEntry } from "astro:content";

// Get the about page content from the pages collection
const aboutPage = await getEntry("pages", "about");
const { Content } = await aboutPage.render();
---

<Layout title="About | Francesco Esposito">
  <PageLayout title="About Me">
    <div class="mb-12 space-y-6 max-w-none prose prose-lg dark:prose-invert">
      <Content />
    </div>
  </PageLayout>
</Layout>
