---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
import ProfileHeader from "../components/home/ProfileHeader.astro";
import FeaturedPost from "../components/home/FeaturedPost.astro";
import FeaturedProject from "../components/home/FeaturedProject.astro";
---

<Layout title="Francesco Esposito - Software Engineer">
  <div class="mx-auto max-w-4xl py-8">
    <ProfileHeader />
    <FeaturedPost title="Blog" />
    <FeaturedProject title="Projects" />
  </div>
</Layout>
